* {
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-family: Consolas;
  background-color: #401386;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.title h1 {
  margin-top: 20px;
  border: 3px solid green;
  font-weight: bold;
  color: green;
  padding: 10px;
}

.container {
  display: grid;
  box-sizing: border-box;
  margin-top: 20px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: " . terminal . " "footer footer footer";
}
.container .terminal {
  box-sizing: border-box;
  grid-area: terminal;
  display: grid;
  border-radius: 10px;
  box-shadow: 10px 10px 25px black;
  background-color: #140330;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: " txt txt txt txt txt txt" " display display display display display display";
}
.container .terminal #txt {
  box-sizing: border-box;
  margin: 15px;
  grid-area: txt;
  background-color: #161515;
  border: none;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  color: rgba(255, 255, 255, 0.508);
  font-size: 20px;
}
.container .terminal .display {
  box-sizing: border-box;
  grid-area: display;
  min-width: 600px;
  min-height: 73vh;
  background-color: #161515;
  margin: 15px;
  margin-top: 0;
  border-radius: 10px;
  padding: 15px;
  color: green;
  font-size: 16px;
  letter-spacing: 2px;
}
.container footer {
  grid-area: footer;
  color: white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  bottom: 0px;
  left: 30%;
  right: 30%;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1201px) {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .title h1 {
    margin-top: 20px;
    border: 3px solid green;
    font-weight: bold;
    color: green;
    padding: 10px;
  }

  .container {
    display: grid;
    box-sizing: border-box;
    margin-top: 20px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: " . terminal . " "footer footer footer";
  }
  .container .terminal {
    box-sizing: border-box;
    grid-area: terminal;
    display: grid;
    border-radius: 10px;
    box-shadow: 10px 10px 25px black;
    background-color: #140330;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: " txt txt txt txt txt txt" " display display display display display display";
  }
  .container .terminal #txt {
    box-sizing: border-box;
    margin: 15px;
    grid-area: txt;
    background-color: #161515;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.508);
    font-size: 20px;
  }
  .container .terminal .display {
    box-sizing: border-box;
    grid-area: display;
    min-width: 600px;
    min-height: 73vh;
    background-color: #161515;
    margin: 15px;
    margin-top: 0;
    border-radius: 10px;
    padding: 15px;
    color: green;
    font-size: 16px;
    letter-spacing: 2px;
  }
  .container footer {
    grid-area: footer;
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    bottom: 0px;
    left: 30%;
    right: 30%;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .title h1 {
    margin-top: 20px;
    border: 3px solid green;
    font-weight: bold;
    color: green;
    padding: 10px;
  }

  .container {
    display: grid;
    box-sizing: border-box;
    margin-top: 20px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: " . terminal . " "footer footer footer";
  }
  .container .terminal {
    box-sizing: border-box;
    grid-area: terminal;
    display: grid;
    border-radius: 10px;
    box-shadow: 10px 10px 25px black;
    background-color: #140330;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: " txt txt txt txt txt txt" " display display display display display display";
  }
  .container .terminal #txt {
    box-sizing: border-box;
    margin: 15px;
    grid-area: txt;
    background-color: #161515;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.508);
    font-size: 20px;
  }
  .container .terminal .display {
    box-sizing: border-box;
    grid-area: display;
    min-width: 600px;
    min-height: 73vh;
    background-color: #161515;
    margin: 15px;
    margin-top: 0;
    border-radius: 10px;
    padding: 15px;
    color: green;
    font-size: 16px;
    letter-spacing: 2px;
  }
  .container footer {
    grid-area: footer;
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    bottom: 0px;
    left: 30%;
    right: 30%;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .title h1 {
    margin-top: 20px;
    border: 3px solid green;
    font-weight: bold;
    color: green;
    padding: 10px;
  }

  .container {
    display: grid;
    box-sizing: border-box;
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "terminal" "footer";
  }
  .container .terminal {
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
    grid-area: terminal;
    display: grid;
    border-radius: 10px;
    box-shadow: 10px 10px 25px black;
    background-color: #140330;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: " txt txt txt txt txt txt" " display display display display display display";
  }
  .container .terminal #txt {
    box-sizing: border-box;
    margin: 15px;
    grid-area: txt;
    background-color: #161515;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.508);
    font-size: 20px;
  }
  .container .terminal .display {
    box-sizing: border-box;
    grid-area: display;
    min-width: 50px;
    min-height: 73vh;
    background-color: #161515;
    margin: 15px;
    margin-top: 0;
    border-radius: 10px;
    padding: 15px;
    color: green;
    font-size: 16px;
    letter-spacing: 2px;
  }
  .container footer {
    grid-area: footer;
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    bottom: 0px;
    left: 30%;
    right: 30%;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 8px;
  }
}
.digitado {
  color: rgba(255, 255, 255, 0.508);
}

.error {
  color: red;
}
/*# sourceMappingURL=main.css.map */
